﻿@model MoovleUI.Models.TeamVM

@{
    ViewData["Title"] = @Localizer["Delete"];
}

    <h1>@Localizer["Delete"]</h1>

<h3>@Localizer["Are you sure you want to delete this team?"]</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Team name"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="@Localizer["Delete"]" class="btn btn-danger" /> |
        <a asp-action="Index">@Localizer["Back to list"]</a>
    </form>
</div>
