﻿@model MoovleUI.Models.TeamVM

@{
    ViewData["Title"] = @Localizer["Details"];
}

    <h1>@Localizer["Details"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Localizer["Team name"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">@Localizer["Edit"]</a> |
    <a asp-action="Index">@Localizer["Back to list"]</a>
</div>
