﻿@model MoovleUI.Models.GameVM

@{
    ViewData["Title"] = @Localizer["Details"];
}

    <h1>@Localizer["Details"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Venue"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Venue)
        </dd>
        <dt class = "col-sm-2">
            @Localizer["Address"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Localizer["City"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Zip code"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Start hour"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartHour)
        </dd>
        <dt class="col-sm-2">
            @Localizer["End hour"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndHour)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Duration"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Date"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">@Localizer["Edit"]</a> |
    <a asp-action="Index">@Localizer["Back to list"]</a>
</div>
