﻿@model IEnumerable<MoovleUI.Models.GameVM>

@{
    ViewData["Title"] = "Index";
}

<h1>@Localizer["All games"]</h1>

<p>
    <a asp-action="Create">@Localizer["Create new"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Localizer["Venue"]
            </th>
            <th>
                @Localizer["Address"]
            </th>
            <th>
               @Localizer["City"]
            </th>
            <th>
                @Localizer["Zip code"]
            </th>
            <th>
                @Localizer["Start hour"]
            </th>
            <th>
                @Localizer["End hour"]
            </th>
            <th>
               @Localizer["Duration"]
            </th>
            <th>
                @Localizer["Date"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Venue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">@Localizer["Edit"]</a>
                <a asp-action="Details" asp-route-id="@item.ID">@Localizer["Details"]</a>
                <a asp-action="Delete" asp-route-id="@item.ID">@Localizer["Delete"]</a>
            </td>
        </tr>
}
    </tbody>
</table>
