﻿@model MoovleUI.Models.MedalVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Localizer["Medal name"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedalName)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Requirements"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedalRequirements)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">@Localizer["Back to list"]</a>
</div>
