﻿@model IEnumerable<MoovleUI.Models.MedalVM>

@{
    ViewData["Title"] = @Localizer["Medals overview"];
}

<h1> @Localizer["Medals overview"]</h1>
<p>@Localizer["This page is part of a future update."]</p>
<p>@Localizer["In the next update you will be able to gain experience and score medals based on the actions you take."]</p>
<p>@Localizer["Here are some examples of challenges you will be able to take on!"]</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Localizer["Medal name"]
            </th>
            <th>
                @Localizer["Requirements"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedalName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedalRequirements)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ID">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
