﻿@model IEnumerable<MoovleUI.Models.PlayerStatVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Inde</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Goals_scored)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assists)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Minuted_played)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Games_played)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Games_won)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Games_lost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Games_draw)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Goals_scored)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assists)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Minuted_played)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Games_played)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Games_won)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Games_lost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Games_draw)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
