﻿@model MoovleUI.Areas.Authentication.Models.UserLoginVM

@{
    ViewData["Title"] = "Login";
}

<h1>@Localizer["Login"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label">@Localizer["Username"]</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">@Localizer["Password"]</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="RememberMe">
                        <input asp-for="RememberMe" />
                        @Localizer["Remember me"]
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["Login"]" class="btn btn-primary" />
            </div>
            <a asp-route="register">@Localizer["Create an account"]</a>
        </form>
    </div>
</div>