﻿@model MoovleUI.Models.TeamStatVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TeamStatVM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Goals_scored)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Goals_scored)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Assists)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Assists)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Minuted_played)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Minuted_played)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Games_played)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Games_played)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Games_won)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Games_won)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Games_lost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Games_lost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Games_draw)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Games_draw)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamId)
        </dd>
    </dl>
    
    <form asp-action="Edit">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
