﻿.landingpage__container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.landingpage__titlesection {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 2rem 0;
    /*background-color: blue;*/
}

.landingpage__titlesection h1 {
    font-size: 100px;
    margin: 0;
    margin-bottom: 1rem;
}

.landingpage__titlesection p {
    font-size: 20px;
    margin: 0;
}

.landingpage__getstarted__button {
    margin-top: 1rem;
    width: 250px;
    height: 50px;
    background-color: rgb(9, 33, 252);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    cursor: pointer;
}

.landingpage__getstarted__button:hover {
    background-color: rgb(9, 74, 252);
}

.landingpage__getstarted__button a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    text-decoration: none;
    width: 100%;
    height: 100%;
    text-align: center;
}

.landingpage__imagesection {
    width: 100%;
    height: 700px;
    background-color: black;
    margin: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-sizing: border-box;
}

.landingpage__imagesection__wrapper {
    width: 80%;
    height: 500px;
    background-image: url("../assets/images/home_header_background.jpg"); /* The image used */
    background-color: #cccccc;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    box-sizing: border-box;
}

.landingpage__imagesection__blur {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.336);
}

.landingpage__imagesection__quote {
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    color: #FFF;
}

.landingpage__infosection {
    display: flex;
    width: 100%;
    height: auto;
    margin: 3rem 0;
}

.infosection__col {
    width: 50%;
    box-sizing: border-box;
}

    .infosection__col h2 {
        font-size: 30px;
        font-weight: bold;
    }

.infosection__left {
    flex-direction: row;
}

.col__left__image {
    background-image: url("../assets/images/social.jpg"); /* The image used */
    background-color: #cccccc;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    box-sizing: border-box;
    margin-right: 1rem;
    width: 50%;
}

.col__right__image {
    background-image: url("../assets/images/fit.jpg"); /* The image used */
    background-color: #cccccc;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    box-sizing: border-box;
    margin-left: 1rem;
    width: 50%;
}

.infosection__right {
    flex-direction: row-reverse;
}

@media only screen and (max-width: 768px) {
    .landingpage__container {
        padding: 0 20px;
    }

    .landingpage__titlesection h1 {
        font-size: 80px;
    }

    .landingpage__imagesection__quote {
        font-size: 40px;
    }

    .infosection__col {
        width: 100%;
    }

    .infosection__left {
        flex-direction: column;
    }

    .infosection__right {
        flex-direction: column-reverse;
    }

    .col__left__image, .col__right__image {
        height: 300px;
        margin: 0;
    }
}

@media only screen and (max-width: 500px) {

    .col__left__image, .col__right__image {
        margin: 0;
        height: 200px;
    }
}
