﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="landingpage__container">
    <div class="landingpage__titlesection">
        <h1>
            @Localizer["Meet new people all around the globe"]
        </h1>
        <p>
            @Localizer["Soccer is in your blood. Moovle allows you to share that passion with people from all corners of the world. Playing sports and making new connecties, that's what we're all about."]
        </p>
        <p>
            @Localizer["Sport is supposed to be fun. That's why you are given complete freedom on where, when and how you want to play. What are you waiting for?"]
        </p>
        <div class="landingpage__getstarted__button">
            <a  asp-route="register">@Localizer["GET STARTED"]</a>
        </div>
    </div>
    <div class="landingpage__imagesection">
        <div class="landingpage__imagesection__wrapper">
            <div class="landingpage__imagesection__blur">
                <p class="landingpage__imagesection__quote">&quot;Playing soccer with friends makes you happier.&quot;</p>
            </div>
        </div>
    </div>
    <div class="landingpage__infosection infosection__left">
        <div class="infosection__col col__left__image">

        </div>
        <div class="infosection__col">
            <h2>@Localizer["Meet new people, wherever you are"]</h2>
            <p>
                @Localizer["What's better than making new friends? Making new friends while doing something you love. Moovle allows you to do just that by opening a large network of soccer fans to meet each other and play ball. Sometimes meeting new people is a little bit awkward, but since everyone in this community has at least one thing in common, awkwardness is eliminated. Having fun is our highest priority. When you have fun, everything else will come naturally. If you are interested in spending some free time, playing soccer, making new friends and maybe even grab a couple of drinks afterwards? Don't hesitate and join the Moovle community today!"]
            </p>
        </div>

    </div>
    <div class="landingpage__infosection infosection__right">
        <div class="infosection__col col__right__image">

        </div>
        <div class="infosection__col">
            <h2>@Localizer["Get fit in the coolest way"]</h2>
            <p>
                @Localizer["It's a wide known fact that playing sports is great for you. Besides the social aspect, there are also health benefits of practicing sports. Soccer is a sport almost anyone can have a part in. The fast runner could get in the front to score the goals, the tall guy might be incredibly good at catching the ball, that muscular girl is a great defender. There's a place for everyone. Increasing the amount of sports you do, even by 15 minutes has enormous health benefits. You get fitter and more energetic, allowing you to have a fuller and longer life. Soccer also offers an outlet. You can leave the stress from your job or school on the side. When you step on the pitch, there's only one thing that counts: enjoyment."]
            </p>
        </div>

    </div>
</div>